'.text.xml':
  'sitecore-patch-body':
    'prefix': 'sitecore-patch-body'
    'body': """
      <?xml version="1.0" encoding="utf-8" ?>
      <configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
        <sitecore>

        </sitecore>
      </configuration>
    """
  'sitecore-setting':
    'prefix': 'setting'
    'body': """
      <setting name="xyz" value="abc" patch:instead="*[@name='xyz']" />
    """
  'sitecore-patch-delete':
    'prefix': 'patch-delete'
    'body': """
      <patch:delete />
    """
  'sitecore-patch-before':
    'prefix': 'patch-before'
    'body': """
      patch:before="*[@name='xyz']"
    """
  'sitecore-patch-after':
    'prefix': 'patch-after'
    'body': """
      patch:after="*[@name='xyz']"
    """
